#tipico
node_modules/

#expo
.expo/
dist/
web-build/
expo-env.d.ts

#del native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

#metro
.metro-health-check*

#debug
npm-debug.*
yarn-debug.*
yarn-error.*

#macOS
.DS_Store
*.pem

#local env files
.env*.local
.env
.env_tester
.env_producir
.env_desastre

#typescript
*.tsbuildinfo
/ios
/android
